@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
	--orange:#ff7800;
	--black:#130f40;
	--light-color:#666;
	--border: 2px solid rgba(0,0,0,.1);
	--outline: 1px solid rgba(0,0,0,.1);
	--box-shadow: 0 5px 15px rgba(0,0,0,.1);
	--outline-hover: 2px solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}
html{
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-padding-top: 70px;
}
body{
	background: #eee;
}
section{
	padding: 20px 115px;
}
.heading{
	padding: 20px 0px;
	text-align: center;
	padding-bottom: 30px;
	font-size: 35px;
	color: var(--black);
}
.heading span{
	background: var(--orange);
	color: #fff;
	display: inline-block;
	padding: 5px 30px;
	clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}
.btn{
	margin-top: 10px;
	display: inline-block;
	padding: 8px 30px;
	font-size: 17px;
	border-radius: 5px;
	border: 2px solid var(--black);
	color: var(--black);
	cursor: pointer;
	transition: .4s;
}
.btn:hover{
	background: var(--orange);
	color: #fff;
}

.header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff;
	box-shadow: var(--box-shadow);
	padding: 20px 9%;
}
.header .logo{
	font-size: 40px;
	font-weight: bolder;
	color: var(--black);
}
.header .logo i{
	color: var(--orange);
}
.header .navbar a{
	font-size: 17px;
	margin: 0px 16px;
	color: var(--black);
}
.header .navbar a:hover{
	color: var(--orange);
}

.header .icons div{
	height: 45px;
	width: 45px;
	line-height: 45px;
	border-radius: 5px;
	font-size: 20px;
	columns: var(--black);
	background-color: #eee;
	margin-right: 3px;
	text-align: center;
	transition: 0.3s;
	cursor: pointer;
}
.header .icons div:hover{
	background: var(--orange);
	color: #fff;
}
#menu-btn{
	display: none;
}

/* search item css start */
.header .search-form{
	position: absolute;
	top: 110%;
	right: -110%;
	width: 500px;
	height: 50px;
	background: #fff;
	overflow: hidden;
	display: flex;
	border-radius: 5px;
	align-items: center;
	box-shadow: var(--box-shadow);
}
.header .search-form.active{
	right: 20px;
	transition: .4s linear;
}
.header .search-form input{
	height: 100%;
	width: 100%;
	background: none;
	text-transform: none;
	font-size: 16px;
	color: var(--black);
	padding: 0 15px;
}
.header .search-form label{
	font-size: 22px;
	padding-right: 15px;
	color: var(--black);
	cursor: pointer;
}

.header .search-form label:hover{
	color: var(--orange);
}

/* search item css end */

/* shopping item css start */
.header .shopping-cart{
	position: absolute;
	top: 110%;
	right: -110%;
	padding: 10px;
	border-radius: 5px;
	box-shadow: var(--box-shadow);
	width: 350px;
	background: #fff;
}
.header .shopping-cart.active{
	right: 20px;
	transition: .4s linear;
}
.header .shopping-cart .box{
	display: flex;
	align-items: center;
	gap: 10px;
	position: relative;
	margin: 10px 0px;
}
.header .shopping-cart .box img{
	height: 100px;
}
.header .shopping-cart .box .fa-trash{
	font-size: 20px;
	position: absolute;
	top: 50%;
	right: 20px;
	cursor: pointer;
	transform: translateY(-50%);
	color: var(--light-color);
}
.header .shopping-cart .box .fa-trash:hover{
	color: var(--orange);
}
.header .shopping-cart .box .content h3{
	color: var(--black);
	font-size: 17px;
	padding-bottom: 10px;
}
.header .shopping-cart .box .content span{
	color: var(--light-color);
	font-size: 16px;
}
.header .shopping-cart .box .content .quantity{
	padding-left: 10px;
}
.header .shopping-cart .total{
	font-size: 25px;
	padding: 10px 0px;
	text-align: center;
	color: var(--black);
}
.header .shopping-cart .btn{
	display: block;
	text-align: center;
	margin: 10px;
}
/* shopping item css ends */

/* login form css start */
.header .login-form{
	position: absolute;
	top: 110%;
	right: -110%;
	width: 300px;
	box-shadow: var(--box-shadow);
	padding: 20px;
	border-radius: 5px;
	background: #fff;
	text-align: center;
}
.header .login-form.active{
	right: 20px;
	transition: .4s linear;
}
.header .login-form h3{
	font-size: 25px;
	text-transform: uppercase;
	color: var(--black);
}
.header .login-form .box{
	margin: 7px 0px;
	background: #eee;
	border-radius: 5px;
	padding: 10px;
	font-size: 16px;
	color: var(--black);
	text-transform: none;
	width: 100%;
}
.header .login-form p{
	font-size: 14px;
	padding: 5px 0px;
	color: var(--light-color);
}
.header .login-form p a{
	color: var(--orange);
	text-decoration: underline;
}
/* login form css ends */


/* header section css ends */

/* home section css starts */

.home{
	display: flex;
	align-items: center;
	justify-content: center;
	background: url(assets/img/banner-bg.webp) no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 170px;
	padding-bottom: 100px;
}
.home .content{
	text-align: center;
	width: 600px;
}
.home .content h3{
	color: var(--black);
	font-size: 30px;
}
.home .content h3 span{
	color: var(--orange);
}
.home .content p{
	color: var(--light-color);
	font-size: 17px;
	padding: 10px 0px;
	line-height: 1.8;
}
/* home section css ends */

/* features section css start */

.features .box-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 15px;
}
.features .box-container .box{
	padding: 30px 20px;
	background: #fff;
	outline: var(--outline);
	outline-offset: -10px;
	text-align: center;
	box-shadow: var(--box-shadow);
}
.features .box-container .box:hover{
	outline: var(--outline-hover);
	outline-offset: 0px;
}
.features .box-container .box img{
	margin: 10px 0px;
	height: 150px;
}
.features .box-container .box h3{
	font-size: 25px;
	line-height: 1.8;
	color: var(--black);
}
.features .box-container .box p{
	font-size: 15px;
	line-height: 1.8;
	color: var(--light-color);
	padding: 10px 0px;
}
/* features section css ends */

/*products section css start*/

.products .product-slider{
	padding: 10px;
}

.products .product-slider:first-child{
	margin-bottom: 20px;
}
.products .product-slider .box{
	background: #fff;
	border-radius: 5px;
	text-align: center;
	padding: 30px 20px;
	outline: var(--outline);
	outline-offset: -10px;
	box-shadow: var(--box-shadow);
	transition: .2s linear;
}
.products .product-slider .box:hover{
	outline-offset: 0px;
	outline: var(--outline-hover);
}
.products .product-slider .box img{
	height: 200px;
}
.products .product-slider .box h3{
	font-size: 25px;
	color: var(--black);
}
.products .product-slider .box .price{
	font-size: 20px;
	color: var(--light-color);
	padding: 5px 0px;
}
.products .product-slider .box .stars i{
	font-size: 17px;
	color: var(--orange);
	padding: 5px 0px;
}
/*products section css ends*/

/*categories section css starts*/


.categories .box-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	gap: 15px;
}
.categories .box-container .box{
	padding: 30px 20px;
	border-radius: 5px;
	outline: var(--outline);
	box-shadow: var(--box-shadow);
	outline-offset: -10px;
	text-align: center;
}
.categories .box-container .box:hover{
	outline:var(--outline-hover);
	outline-offset: 0px;
}
.categories .box-container .box img{
	margin: 10px 0px;
	height: 150px;
}
.categories .box-container .box h3{
	font-size: 20px;
	color: var(--black);
	line-height: 1.8;
}
.categories .box-container .box p{
	font-size: 17px;
	color: var(--light-color);
	line-height: 1.8;
	padding: 10px 0px;
}
/*categories section css ends*/

/*review section css start*/

.review .review-slider{
	padding: 10px;
}
.review .review-slider .box{
	background: #fff;
	border-radius: 5px;
	text-align: center;
	padding: 30px 20px;
	outline-offset: -10px;
	outline: var(--outline);
	box-shadow: var(--box-shadow);
	transition: .2s linear;
}
.review .review-slider .box:hover{
	outline-offset: 0px;
	outline: var(--outline-hover);
}
.review .review-slider .box img{
	height: 100px;
	width: 100px;
	border-radius: 50%;
}
.review .review-slider .box p{
	padding: 10px 0px;
	line-height: 1.8;
	color: var(--light-color);
	font-size: 15px;
}
.review .review-slider .box h3{
	padding-bottom: 5px;
	color: var(--black);
	font-size: 22px;
}
.review .review-slider .box .stars i{
	color: var(--orange);
	font-size: 17px;
}

/*review section css ends*/

/*blog section css start*/

.blogs .box-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	gap:15px;
}
.blogs .box-container .box{
	overflow: hidden;
	border-radius: 5px;
	box-shadow: var(--box-shadow);
	background: #fff;
}
.blogs .box-container .box img{
	height: 250px;
	width: 100%;
	object-fit: cover;
}
.blogs .box-container .box .content{
	padding: 20px;
}
.blogs .box-container .box .content .icons{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 15px;
	margin-bottom: 10px;
	border-bottom: var(--border);
}
.blogs .box-container .box .content .icons a{
	color: var(--light-color);
	font-size: 15px;
}
.blogs .box-container .box .content .icons a:hover{
	color: var(--black);
}
.blogs .box-container .box .content .icons a i{
	color: var(--orange);
	padding-right: 5px;
}
.blogs .box-container .box .content h3{
	line-height: 1.8;
	color: var(--black);
	font-size: 22px;
	padding: 5px 0px;
}
.blogs .box-container .box .content p{
	line-height: 1.8;
	color: var(--light-color);
	font-size: 15px;
	text-transform: capitalize;
	padding: 5px 0px;
}

/*blog section css ends*/

/*footer section css start*/

.footer{
	background: #fff;
}
.footer .box-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 15px;
}
.footer .box-container .box h3{
	font-size: 25px;
	color: var(--black);
	padding: 10px 0px;
}
.footer .box-container .box h3 i{
	color: var(--orange);
}
.footer .box-container .box .links{
	display: block;
	font-size: 15px;
	padding: 10px 0px;
	color: var(--light-color);
}
.footer .box-container .box .links i{
	color: var(--orange);
	padding-right: 5px;
}
.footer .box-container .box .links:hover i{
	padding-right: 20px;
}
.footer .box-container .box p{
	line-height: 1.8;
	font-size: 15px;
	padding: 10px 0px;
	color: var(--light-color);
}
.footer .box-container .box .share a{
	height: 40px;
	width: 40px;
	line-height: 40px;
	border-radius: 5px;
	font-size: 20px;
	color: var(--black);
	margin-left: 2px;
	background: #eee;
	text-align: center;
}

.footer .box-container .box .share a:hover{
	background: var(--orange);
	color: #fff;
}
.footer .box-container .box .email{
	margin: 7px 0px;
	padding: 10px;
	border-radius: 5px;
	background: #eee;
	font-size: 16px;
	color: var(--black);
	text-transform: none;
}
.footer .box-container .box .payment-img{
	margin-top: 20px;
	height: 30px;
}
.footer .credit{
	text-align: center;
	margin-top: 20px;
	padding:10px;
	padding-top: 25px;
	font-size: 20px;
	color: var(--black);
	border-top: var(--border);
}
.footer .credit span{
	color: var(--orange);
}

.footer .credit{
	text-align: center;
	margin-top: 20px;
	padding: 10px;
	padding-top: 25px;
	font-size: 20px;
	color: var(--black);
	border-top: var(--border);
}
.footer .credit span{
	color: var(--orange);
}
/*footer section css ends*/